asgiref
asttokens
attrs
black
certifi
cffi
charset-normalizer
click
coverage
cryptography
decorator
Django
django-cors-headers
django-debug-toolbar
django-environ
django-extensions
django-filter
django-storages
djangorestframework
djangorestframework-simplejwt
drf-spectacular
drf-yasg
executing
flake8
gunicorn
idna
inflection
iniconfig
ipython
jedi
jsonschema
jsonschema-specifications
matplotlib-inline
mccabe
mypy-extensions
packaging
parso
pathspec
pexpect
platformdirs
pluggy
prompt_toolkit
psycopg2-binary
ptyprocess
pure_eval
pycodestyle
pycparser
pyflakes
Pygments
PyJWT
pytest
pytest-cov
pytest-django
python-dotenv
pytz
PyYAML
referencing
requests
rpds-py
sqlparse
stack-data
traitlets
typing_extensions
uritemplate
urllib3
wcwidth
whitenoise